body {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
    background-color: #EBF1FA;
    color: #444;
}

h1, h2, h3, h4 {
    font-weight: 100;
    font-style: italic;
}

.logo {
    margin-bottom: 40px;
}

.content {
    text-align: center;
    margin-top: 50px;
}
