@font-face {
    font-family: 'profontwindowsregular';
    src: url('ProFontWindows-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
    background-color: #ebf1fa;
    color: #444;
}

pre, code, .quoted, #fengari-input, #fengari-prompt {
    font-family: 'profontwindowsregular';
    font-size: 13px;
}

h1, h2, h3, h4 {
    font-weight: 100;
    font-style: italic;
}

a {
    color: inherit;
}

li {
    margin: 0 0 10px;
}

.center {
    text-align: center;
}

.logo {
    width: 80%;
    max-width: 325px;
}

section {
    padding: 20px 0;
}

section:not(.header):not(.footer) {
    text-shadow: 0 0 1px black;
}

section.header {
    text-align: center;
    padding-top: 50px;
}

section.header, section.footer {
    background-color: #ebf1fa !important;
    background-image: linear-gradient(
      to bottom left,
      #ebf1fa, white 70%
    ) !important;
    color: #444 !important;
}

section:nth-child(2n), section.section--standalone {
    background-color: #404ebc;
    background-image: linear-gradient(
      to bottom left,
      #4B4483, #4053BE 70%
    );
    color: white;
}

section.section--standalone {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

section:nth-child(2n-1) {
    background-color: #4B4483;
    background-image: linear-gradient(
      to top left,
      #191251, #4B4483 70%
    );
    color: white;
}

.section__content {
    width: 700px;
    margin: auto;
}

.section__content p {
    text-align: left;
}

.repl, .snippet {
    box-shadow: 0 0 40px #444;
}

.snippet {
    text-shadow: none;
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    min-width: 200px;
    min-height: 100px;
    color: #444;
    background: #f8f8f8;
    border-radius: 3px;
    position: relative;
    margin: 10px;
    border: 1px solid #ddd;
    padding-bottom: 34px;
    vertical-align: top;
}

.snippets-row .snippet {
    width: 45%;
}

.snippet__code {
    padding: 15px !important;
    border-radius: 3px 3px 0 0;
}

.snippet__actions {
    margin-top: 3px;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #444;
    background: #f0f0f0;
    border-top: 1px solid #ddd;
    border-radius: 0 0 3px 3px;
    font-size: 0.75rem;
}

.snippet__actions__action {
    cursor: pointer;
    padding: 7px 10px;
    display: inline-block;
}


.snippet__actions__action:hover {
    background-color: rgba(150, 150, 150, 0.1);
}

.snippet__source {
    display: none;
}

.snippet__output {
    font-size: 0;
    opacity: 0;
    background-color: #ebf1fa;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.snippet__output--visible {
    font-size: inherit;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    opacity: 1;
    transition: opacity 0.4s ease;
}

.snippet--noaction {
    padding-bottom: 0;
    min-height: 0;
    min-width: 0;
    width: 80%;
}

@media screen and (max-width : 800px) {

    section {
        padding: 20px;
    }

    .snippets-row .snippet {
        width: 100%;
    }

    .section__content {
        width: 100%;
    }

    .snippet {
        max-width: 100%;
        margin: 10px 0;
    }

    .snippet--noaction {
        width: 100%;
    }

}
