
.repl {
    text-shadow: none;
    color: #333;
    background: #f8f8f8;
    padding: 0;
    text-align: left;
    width: 600px;
    margin: 50px auto;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.repl code {
    height: 200px;
    overflow-y: scroll;
}

pre {
    margin: 0;
}

#fengari-console {
    padding: 11px 16px;
    display: block;
}

.fengari-input-container {
    display: flex;
}

.fengari-input-container > * {
    outline: none;
    border: none;
    white-space: pre-wrap;
    font-family: monospace;
    color: #444;
    background: #f0f0f0;
    min-height: 14px; /* minimum one line */
    padding: 10px;
    margin: 0;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #ddd;
}

#fengari-input {
    flex: 1;
    height: 11px; /* start off one line tall */
    padding-left: 0;
}

#fengari-prompt {
    font-weight: bold;
    padding: 8px 10px;
}

@media screen and (max-width : 800px) {

    .repl {
        width: 100%;
    }

}
